<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <style="type:text/css">
  body{background-color: valor}
  </style>
  <title>{% block title %}ChoiceMaster{% endblock %}</title>
</head>
<body background="3.jpg"> 
  <header>
    <h1>ChoiceMaster</h1>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="{% url 'user:logout' %}">logout</a>
    {% else %}
      <a href="{% url 'user:login' %}">login</a>
    {% endif %}
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
</body>
</html>
