{% extends 'base.html' %}

{% block title %}Bienvenido{% endblock %}

{% block content %}
    <form action="/admin">
    <input type="submit" value="Administracion" />
    </form>
    <form action="https://i.ytimg.com/vi/npPg-IAPzJA/maxresdefault.jpg">
        <input type="submit" value="Estadisticas" />
    </form>
    <form action="https://qph.ec.quoracdn.net/main-qimg-c14e24f1ee8d11015dc9b134847f19d7-c">
        <input type="submit" value="Realizar examen" />
    </form>
    <form action="/exam/form">
        <input type="submit" value="Subir pregunta" />
    </form>
{% endblock %}
