{% extends 'base.html' %}
{% block title %}Report Manager{% endblock %}
{% block content %}
{% if report_list %}
  <h3>Reports</h3>
  {% for report in report_list %}
    <h4>{{ report.report_text }}</h4>
    <form action="/exam/adminreport/{{report.id}}/{{report.question.id}}/edit">
    <input type="submit" value="Edit Question" />
    </form>
    <form action="/exam/adminreport/{{report.question.id}}/delete">
    <input type="submit" value="Delete Question" />
    </form>
  {% endfor %}
{% else %}
    <p>No hay reportes pendientes.</p>
{% endif %}
{% endblock %}
